<footer class="footer">
  <div class="footer-container">
    <!-- Logo et description -->
    <div class="footer-logo">
 
  <h3>N.C.E ENERGIE MAROC</h3>
</div>

    <!-- Liens rapides -->
    <div class="footer-links">
      <h4>Liens rapides</h4>
      <ul>
        <li><a href="#">Maison</a></li>
        <li><a href="#">À propos de nous</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contactez-nous</a></li>
      </ul>
    </div>

    <!-- Coordonnées -->
    <div class="footer-contact">
      <h4>Retrouvez-nous</h4>
      <p><i class="fa fa-map-marker"></i> 77 RUE MOHAMED SMIHA ETG 10 N 57 CASABLANCA</p>
      <p><i class="fa fa-phone"></i> +212662385179</p>
      <p><i class="fa fa-envelope"></i> nceenergiemaroc@gmail.com</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>Copyright © 2025 Tous droits réservés. Conception : Romet</p>
  </div>
</footer>
